@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@700&display=swap');
.App {
  text-align: center;
  font-size: 24pt;
}

#heading {
  font-family: 'Lobster', cursive;
  font-size: 48pt;
  margin: 0px;
}


